/*------------Background colors--------------*/
.bg-blue {
    background-color: #2378FC;
}

.bg-green {
    background-color: #30BCC9;
}

.bg-yellow {
    background-color: #FFC41E;
}

.bg-red {
    background-color: #F6404F;
}

.bg-icecream {
    background-color: #FAF3E3;
}

//----------------Breakpoints-----------------//


$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
